@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton:wght@400;500;600;700&display=swap");

body {
    margin: 0;
    padding: 0;
    background-color: rgba(25, 47, 67, 1);
    overflow-x: hidden;
    overflow-y: hidden;
}

nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: 4em;
    justify-content: center;
    z-index: 1000;
    background-color: rgba(10, 30, 61, 0.75);
    
}

    nav ul {
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.75);
    }

    nav li {
        display: inline-flex;
        margin: auto;
        width: 3em;
        height: 3em;
        justify-content: center;
        align-items: center;
    }

        nav li.sunrealLogo {
            display: flex;
            margin-left: 2em;
            width: 2em;
            height: 2em;
            justify-content: center;
            align-items: center;
            position: relative;
            text-align: center;
        }

        nav li a#sunreal {
            position: absolute;
            top: 75%;
            font-family: "Anton", sans-serif;
            font-size: 0.7em;
        }

        nav li.twitch {
            display: inline-flex;
            margin-right: 0;
            width: 3em;
            height: 3em;
            justify-content: center;
            align-items: center;
        }

        nav li.youtube {
            display: inline-flex;
            margin-right: 0;
            margin-left: 1em;
            width: 3em;
            height: 3em;
            justify-content: center;
            align-items: center;
        }

        nav li.linkedin {
            display: inline-flex;
            margin-right: 3em;
            margin-left: 1em;
            width: 3em;
            height: 3em;
            justify-content: center;
            align-items: center;
        }

    nav a {
        font-family: "Montserrat", sans-serif;
        font-size: 1.5em;
        color: #dde5eb;
        text-decoration: none;
        z-index: 3;
    }

        nav a.active {
            color: aquamarine;
        }

            nav a.active.bouncy {
                -webkit-animation: bounce 1.5s ease infinite alternate;
            }

    nav img {
        display: flex;
        height: 50px;
        width: 50px;
        border-radius: 60px;
        background-color: rgba(0, 0, 0, 0.1);
    }

        nav img#sunrealLogo {
            display: flex;
            height: 75px;
            width: 75px;
            border-radius: 60px;
            background-color: rgba(0, 0, 0, 0.1);
        }

        nav img:hover {
            box-shadow: 0px 0px 25px #1755aa;
        }

        nav img#sunrealLogo:hover {
            box-shadow: 0px 0px 50px #1755aa;
        }

.innercircle {
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #14376e;
    align-items: center;
    justify-content: center;
}

.outercircle {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(15, 15, 15, 0.5);
    align-items: center;
    justify-content: center;
}

    .outercircle:hover {
        display: flex;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #1755aa;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 25px #1755aa;
    }

#loaded {
    padding-top: 7em;
}

.headerVideo {
    height: 50em;
    width: 75em;
    margin: auto;
    margin-top: 2em;
    /*background-color: rgba(0, 0, 0, 0.90);*/
    justify-content: center;
}
#twitch-embed {
    height: 50em;
    width: 75em;
    margin: auto;
    margin-top: 2em;
    /*background-color: rgba(0, 0, 0, 0.90);*/
    justify-content: center;
}

.video {
    position: relative;
    z-index: 3;
    height: 99%;
    width: 99%;
    background-size: auto;
    border: solid;
    border-width: 0.5em;
    border-color: rgba(15, 15, 15, 0.5);
    justify-content: center;
}

.textarea {
    display: block;
    position: relative;
    width: 73em;
    border-radius: 10px;
    padding: 1em;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    justify-content: center;
    text-decoration: none;
    z-index: 3;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(15, 15, 15, 0.3), rgba(25, 47, 67, 1));
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color: #dde5eb;
    text-decoration: none;
}

    .textarea h2, p, a {
        margin: 0.5em;
    }

    .textarea h2 {
        color: #317ae0;
        text-align: center;
    }

    .textarea .textImg {
        max-height: 30em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        margin-bottom: 2em;
    }

/******** BUTON LINK *******/
.btn-conteiner {
    display: flex;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: #1755aa;
    --color-outline: #ff145b80;
    --color-shadow: #00000080;
}

.btn-content {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
}

    .btn-content:hover, .btn-content:focus {
        transition: 0.5s;
        -webkit-animation: btn-content 1s;
        animation: btn-content 1s;
        outline: 0.1em solid transparent;
        outline-offset: 0.2em;
        box-shadow: 0 0 0.4em 0 var(--color-background);
    }

.btnarrow {
    padding-left: 1em;
}

/* Button animations */
@-webkit-keyframes btn-content {
    0% {
        outline: 0.2em solid var(--color-background);
        outline-offset: 0;
    }
}

@keyframes btn-content {
    0% {
        outline: 0.2em solid var(--color-background);
        outline-offset: 0;
    }
}
/****** END BUTON LINK *****/

/******** DOCUCARD *********/
.docCardParent {
    position: relative;
    width: 290px;
    height: 300px;
    perspective: 1000px;
    z-index: 1000;
}

.docCard {
    height: 100%;
    border-radius: 50px;
    background: linear-gradient(135deg, rgb(15, 40, 74) 0%, rgb(23, 85, 170) 100%);
    transition: all 0.5s ease-in-out;
    transform-style: preserve-3d;
    box-shadow: rgba(5, 71, 17, 0) 40px 50px 25px -40px, rgba(5, 71, 17, 0.2) 0px 25px 25px -5px;
}

.docCardGlass {
    transform-style: preserve-3d;
    position: absolute;
    inset: 8px;
    border-radius: 55px;
    border-top-right-radius: 100%;
    background: linear-gradient(0deg, rgba(35, 35, 35, 0.349) 0%, rgba(55, 55, 55, 0.815) 100%);
    transform: translate3d(0px, 0px, 25px);
    border-left: 1px solid rgba(55, 55, 55, 0.815);
    border-bottom: 1px solid rgba(55, 55, 55, 0.815);
    transition: all 0.5s ease-in-out;
}

.docCardContent {
    padding: 60px 60px 0px 30px;
    transform: translate3d(0, 0, 26px);
}

    .docCardContent .docCardTitle {
        display: block;
        color: #317ae0;
        font-weight: 900;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
    }

    .docCardContent .docCardText {
        display: block;
        margin-top: 5px;
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        color: #dde5eb;
    }

.docCardContentimg {
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 200px;
}

.docCardBottom {
    padding: 10px 12px;
    transform-style: preserve-3d;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translate3d(0, 0, 26px);
}

    .docCardBottom .docCardViewMore {
        display: flex;
        align-items: center;
        width: 40%;
        justify-content: flex-end;
        transition: all 0.2s ease-in-out;
    }

    .docCardBottom .docCardViewMore:hover {
        transform: translate3d(0, 0, 10px);
    }

        .docCardBottom .docCardViewMore .docCardViewMoreButton {
            background: none;
            border: none;
            color: #317ae0;
            font-weight: bolder;
            font-size: 12px;
        }

        .docCardBottom .docCardViewMore img {
            fill: none;
            stroke: #317ae0;
            stroke-width: 3px;
            max-height: 15px;
        }

.docCardLogo {
    position: absolute;
    right: 0;
    top: 0;
    transform-style: preserve-3d;
}

    .docCardLogo .docCardCircle {
        display: block;
        position: absolute;
        aspect-ratio: 1;
        border-radius: 50%;
        top: 0;
        right: 0;
        box-shadow: rgba(100, 100, 111, 0.2) -10px 10px 20px 0px;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background: rgba(58, 106, 171, 0.2);
        transition: all 0.5s ease-in-out;
    }

    .docCardLogo .docCardCircle1 {
        width: 170px;
        transform: translate3d(0, 0, 20px);
        top: 8px;
        right: 8px;
    }

    .docCardLogo .docCardCircle2 {
        width: 140px;
        transform: translate3d(0, 0, 40px);
        top: 10px;
        right: 10px;
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
        transition-delay: 0.4s;
    }

    .docCardLogo .docCardCircle3 {
        width: 110px;
        transform: translate3d(0, 0, 60px);
        top: 17px;
        right: 17px;
        transition-delay: 0.8s;
    }

    .docCardLogo .docCardCircle4 {
        width: 80px;
        transform: translate3d(0, 0, 80px);
        top: 23px;
        right: 23px;
        transition-delay: 1.2s;
    }

    .docCardLogo .docCardCircle5 {
        width: 50px;
        transform: translate3d(0, 0, 100px);
        top: 30px;
        right: 30px;
        display: grid;
        place-content: center;
        transition-delay: 1.6s;
    }

        .docCardLogo .docCardCircle5 .svg {
            width: 20px;
            fill: white;
        }

.docCardParent:hover .docCard {
    transform: rotate3d(1, 1, 0, 30deg);
    box-shadow: rgba(5, 71, 17, 0.3) 30px 50px 25px -40px, rgba(5, 71, 17, 0.1) 0px 25px 30px 0px;
}

    .docCardParent:hover .docCard .docCardLogo .docCardCircle2 {
        transform: translate3d(0, 0, 60px);
    }

    .docCardParent:hover .docCard .docCardLogo .docCardCircle3 {
        transform: translate3d(0, 0, 80px);
    }

    .docCardParent:hover .docCard .docCardLogo .docCardCircle4 {
        transform: translate3d(0, 0, 100px);
    }

    .docCardParent:hover .docCard .docCardLogo .docCardCircle5 {
        transform: translate3d(0, 0, 120px);
    }
/****** END DOCUCARD *********/

/********** WAVES **********/
.box {
    position: fixed;
    top: 0;
    transform: rotate(80deg);
    left: 0;
}

.wave {
    position: fixed;
    top: 0;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 10%;
    background: #1755aa;
    width: 1500px;
    height: 1300px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 30000ms infinite linear;
}

    .wave.-three {
        animation: drift 20000ms infinite linear;
        position: fixed;
        background-color: #0a1e3d;
    }

    .wave.-two {
        animation: drift 12000ms infinite linear;
        opacity: .1;
        background: black;
        position: fixed;
    }

.box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: translate3d(0, 0, 0);
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

/*LOADING SPACE*/

.contain {
    animation-delay: 4s;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #25a7d7;
    background: -webkit-linear-gradient(#25a7d7, #2962FF);
    background: linear-gradient(#25a7d7, #25a7d7);
}

.icon {
    width: 100px;
    height: 100px;
    margin: 0 5px;
}

    /*Animation*/
    .icon:nth-child(2) img {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s
    }

    .icon:nth-child(3) img {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s
    }

    .icon:nth-child(4) img {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s
    }

    .icon img {
        -webkit-animation: anim 2s ease infinite;
        animation: anim 2s ease infinite;
        -webkit-transform: scale(0,0) rotateZ(180deg);
        transform: scale(0,0) rotateZ(180deg);
    }

@-webkit-keyframes anim {
    0% {
        -webkit-transform: scale(0,0) rotateZ(-90deg);
        transform: scale(0,0) rotateZ(-90deg);
        opacity: 0
    }

    30% {
        -webkit-transform: scale(1,1) rotateZ(0deg);
        transform: scale(1,1) rotateZ(0deg);
        opacity: 1
    }

    50% {
        -webkit-transform: scale(1,1) rotateZ(0deg);
        transform: scale(1,1) rotateZ(0deg);
        opacity: 1
    }

    80% {
        -webkit-transform: scale(0,0) rotateZ(90deg);
        transform: scale(0,0) rotateZ(90deg);
        opacity: 0
    }
}

@keyframes anim {
    0% {
        -webkit-transform: scale(0,0) rotateZ(-90deg);
        transform: scale(0,0) rotateZ(-90deg);
        opacity: 0
    }

    30% {
        -webkit-transform: scale(1,1) rotateZ(0deg);
        transform: scale(1,1) rotateZ(0deg);
        opacity: 1
    }

    50% {
        -webkit-transform: scale(1,1) rotateZ(0deg);
        transform: scale(1,1) rotateZ(0deg);
        opacity: 1
    }

    80% {
        -webkit-transform: scale(0,0) rotateZ(90deg);
        transform: scale(0,0) rotateZ(90deg);
        opacity: 0
    }
}
/********** END WAVES **********/

/********** BOUNCE **********/
@-webkit-keyframes bounce {
    0% {
    }

    100% {
        transform: translateY(-20px);
    }
}
/********** END BOUNCE **********/
